body {
  background-color: #14142b;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #14142b;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 1px #050620;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px 0 0 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(23, 25, 27);
}

body {
  scrollbar-width: thin;
  scrollbar-color: rgb(23, 25, 27) rgb(23, 25, 27);
}

body {
  -ms-overflow-style: scrollbar;
}